################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

FashionStore/.vs/
FashionStore/FashionStore.Api/obj/
FashionStore/FashionStore.Api/bin/
FashionStore.ReactJsApp/fashionstore.client/package-lock.json
